@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Jua&family=Yeon+Sung&display=swap');

body {
  font-family: 'Poetsen One', 'Jua', sans-serif;
  text-decoration: none;
  margin: 0;
}

@font-face {
  .jua-regular {
    font-family: 'Jua', serif;
    src: url('../public//Jua-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
}

.navtext {
  color: white;
}

a {
  text-decoration: none;
}

p {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.custom-bg {
  background-color: #00a495;
  color: white;
  padding: 10px;
}

.no-underline {
  text-decoration: none;
}

.readmeModal {
  text-align: center;
  margin-bottom: 40px;
  position: absolute;
  bottom: -100%; /* 화면 아래로 시작 */
  animation: scroll 10s linear infinite; /* 애니메이션 설정 */
}

@keyframes scroll {
  0% {
    bottom: -100%; /* 시작 위치 */
  }
  100% {
    bottom: 100%; /* 끝 위치 */
  }
}
